* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-form {
    border-radius: 1em;
    border: 0.5em solid black;
    width: 500px;
    height: 70vh;
    padding: 3em;
    align-self: center;
    justify-self: center;

    display: flex;
    gap: 2em;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    & > label {
        font-size: 3rem;
        font-weight: bold;
    }

    & .title {
        font-size: 4rem;
        border-bottom: 5px solid black;
    }

    & > input {
        border: 0;
        height: 5vh;
        width: 300px;
        border: 5px solid black;
        border-radius: 1em;
        padding: 1em;
        font-size: 1.5rem;
        font-weight: bold;
    }

    & > button {
        height: 3vh;
        width: 200px;
        background-color: black;
        border: 0;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 1em;
    }
}

.gameBoard {
    justify-self: center;
    background-color: black;
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    
    & > div {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7rem;
        /* color: red; */
        
    }
}

.game {
    overflow: hidden;
    position: absolute;
    width: 0vw;
    height: 0vh;
    opacity: 0;
    background-color: white;
    display: flex;
    flex-direction: column;

    & .header-game {
        flex-grow: 0.1;
        display: flex;
        border-bottom: 0.5em solid black;
        margin-bottom: 1em;
        justify-content: center;
        align-items: center;

        & .title-game {
            font-size: 3.5rem;
            font-weight: bold;
        }
    }
    
    & .content-game {
        flex-grow: 0.7;
    }

    & .info-game {
        flex-grow: 0.2;
    }
}

.content-game {
    display: flex;

    & .player1-area {
        flex-grow: 1;
    }

    & .player2-area {
        flex-grow: 1;
    }

    & .gameboard-area {
        width: 650px;
        height: 650px;
        background-color: white;
        /* border: 5px solid black; */

        & .infogame {
            background-color: white;
            width: 620px;
            height: 100px;
            margin-top: 10px;
            justify-self: center;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
        }

        & .reset-area {
            background-color: black;
            width: 300px;
            height: 50px;
            margin-top: 10px;
            justify-self: center;

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-size: 2rem;
            color: white;
            font-weight: bold;
            border-radius: 1em;
        }
    }
}

.player1-area,
.player2-area {
    display: flex;
    flex-direction: column;
    padding: 6em;
    text-align: center;
    gap: 2em;
    /* justify-content: center;
    align-items: center; */
}

.label-player {
    font-size: 5rem;
    font-weight: bold;
}

.player-name1,
.player-name2 {
    font-size: 4rem;
}

.marker {
    font-size: 7rem;
    font-weight: bold;
}